.Clock {
  background-color: teal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.BreakSessionLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 50%;
}

.TimerLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

footer {
  margin: 0%;
  text-align: center;
}

footer p {
  font-size: 18px;
}

footer p a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* Media queries for mini screen phones */
@media only screen and (min-width: 240px) and (max-width: 379px) {
  .BreakSessionLabel { width: 100%; }
}

/* Media queries for phones */
@media only screen and (min-width: 380px) and (max-width: 480px) {
  .BreakSessionLabel { width: 100%; }
}

/* Media queries for small width screen tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .BreakSessionLabel { width: 100%; }
}

/* Media queries for big width screen tablets */
@media only screen and (min-width: 769px) and (max-width: 1320px) {
  .BreakSessionLabel { width: 100%; }
}
